@use '../abstracts' as *;

body {
  font-family: $font-family-base;
  line-height: 1.6;
  color: $color-text;
  margin: 0;
  padding: 0;
  background-color: $color-background;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

a {
  text-decoration: none;
  
  &:hover {
    text-decoration: none;
  }
}
