@use '../abstracts' as *;

.main-heading {
  padding: $spacing-xl;
  font-size: 40px;
  color: $color-primary;
  text-align: center;
  margin-bottom: $spacing-xl;
  font-weight: $font-weight-extra-bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.sub-heading {
  font-size: 20px;
  color: $color-text;
  text-align: center;
  margin-bottom: $spacing-xl;
  font-weight: 500;
}
